<section>
  <form name="form" ng-submit="submit()">
    <fieldset>
      <legend>Create event</legend>

      <div class="form-group">
      <label for="name" style="text-align: left" class="control-label pull-left">Name</label>
        <input class="form-control" type="text" id="name" name="name" ng-model="event.name" required>

      </div>
      <div class="form-group">
        <label for="startDate" style="text-align: left">Start date</label>
          <input class="form-control input-underline input-lg" type="datetime-local" id="startDate" name="startDate" ng-model="event.startDate" required>

      </div>
      <div class="form-group">
        <label for="endDate" style="text-align: left">End date</label>
          <input class="form-control input-underline input-lg" type="datetime-local" id="endDate" name="endDate" ng-model="event.endDate">

      </div>
      <div class="form-group">
        <label for="description" style="text-align: left">Description</label>
          <input class="form-control input-underline input-lg" type="textarea" id="description" name="description" ng-model="event.description">
      </div>

        <button class="btn btn-white btn-outline btn-lg btn-rounded">Létrehoz</button>
    </fieldset>
  </form>
  <section>

